<?xml version="1.0"?>
<ConnectionStrings>
  
  <!--Localhost-->
  <Connection Name="Local" RetryTimes="3">
    <ConnectionType Name="Transaction">
      <ConnectionString><![CDATA[Data Source=localhost;Initial Catalog=Test;MultipleActiveResultSets=True;user id=sa;Password=sa;]]></ConnectionString>
    </ConnectionType>
  </Connection>
  
  <!--单元测试配置1-->
  <Connection Name="UnintTesting1" RetryTimes="3">
    <ConnectionType Name="Transaction">
      <ConnectionString><![CDATA[Data Source=UnintTesting1]]></ConnectionString>
    </ConnectionType>
  </Connection>

  <!--单元测试配置2-->
  <Connection Name="UnintTesting2" RetryTimes="3">
    <ConnectionType Name="Transaction">
      <ConnectionString><![CDATA[Data Source=UnintTesting2]]></ConnectionString>
    </ConnectionType>
  </Connection>

</ConnectionStrings>