<?xml version="1.0"?>
<ConnectionStrings>
  <!--cdfbcb-->
  <Connection Name="Local" RetryTimes="3">
    <ConnectionType Name="Transaction">
      <ConnectionString><![CDATA[Data Source=.;Initial Catalog=Test;MultipleActiveResultSets=True;user id=sa;Password=goodday;]]></ConnectionString>
    </ConnectionType>
  </Connection>
  
  <Connection Name="Customer" RetryTimes="3">
    <ConnectionType Name="Transaction">
      <ConnectionString><![CDATA[Data Source=192.168.1.101;Initial Catalog=temp_KHYD_1.0;MultipleActiveResultSets=True;user id=yueqi;Password=yueqi;]]></ConnectionString>
    </ConnectionType>
  </Connection>

</ConnectionStrings>